<ion-pane id="chatsView">

  <ion-header-bar class="bar-positive">
    <h1 class="title">DB Connect</h1>
  </ion-header-bar>
  
  <!-- Loading -->
  <!-- TODO: Can't figure out how to turn off the spinner when everything's loaded --> 
  <ion-item ng-if="chats.length == 0" class="textCenter">
    <h4>No messages in this room. Send message to start.</h4>
  </ion-item>
       
    
  <ion-content has-bouncing="true" class="has-header has-footer" tell-height in-view-container delegate-handle="chatsScroll">    
            
    <!-- Here's where the real chats start -->
    <div class="message-wrapper" ng-repeat="chat in chats | orderBy:'createdAt':false" on-hold="onMessageHold($event, $index, message)">
      
      <!-- Avatar image -->
      <img class="profile-pic" ng-class-odd="'left'" ng-class-even="'right'" ng-random-image ng-src="" />
      
      <!-- Chat bubble -->
      <div class="chat-bubble" ng-class-odd="'left'" ng-class-even="'right'">
	      <div ng-if="chat.isImage == true">
			    <img ng-src="{{chat.message}}" style="width: 100%;">
			  </div>
			  <div ng-if="chat.isImage == false">
			    <div class="message" ng-bind-html="chat.message | nl2br" autolinker></div>
			  </div>	      
	      
	      <div class="message-detail">
            <span class="time-ago" am-time-ago="chat.createdAt"></span>
        </div>
      </div>  
      <div class="cf"></div>
    </div> 
    <div in-view="bottomInView($index, $inview, $inviewpart, $event)">&nbsp;</div>
  </ion-content>   
  		
  <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
  	<div class="footer-btn-wrap">
      <button class="button button-icon icon ion-camera footer-btn" ng-click="sendPhoto()">
      </button>
    </div>
    <label class="item-input-wrapper">
        <textarea ng-model="IM.textMessage" value="" placeholder="Type your message..." required minlength="1" maxlength="310" style="width: 300px;" msd-elastic>
        </textarea>
    </label>
    <div class="footer-btn-wrap">
      <button class="button button-icon icon ion-android-send footer-btn" 
          ng-disabled="!IM.textMessage || IM.textMessage === ''" ng-click="sendMessage(IM.textMessage)">
      </button>
    </div>
  </ion-footer-bar>
</ion-pane>
